* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
    background-color: teal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, main, footer {
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    width: 900px;
}

header {
    background-color: orange;
    border-bottom: 5px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1 > a, nav > ul > li > a {
    text-decoration: none;
    color: black;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

main {
    flex-grow: 2;
}

footer {
    border-top: 5px solid black;
}

ul {
    list-style: none;
}
